{{ data.bbcode.center_start }} [url=https://ibb.co/98Xwk5P][img=370]https://i.ibb.co/SsTQ4CS/DTR-WEB-DL.png[/img][/url] {{ data.bbcode.center_end }}

{{ data.bbcode.code_start }}
Release Name    : {{ data.torrent_info.torrent_title }}
Video           : {{ data.torrent_info.screen_size }} {{ data.torrent_info.pymediainfo_video_codec }} {{ data.torrent_info.bit_depth }}-bit @ {{ data.release.video.bitrate }}
Audio           : {{ data.torrent_info.audio_codec }} {{ data.torrent_info.audio_channels }} @ {{ data.release.audio.bitrate }}
Copyright       : DTR@desitorrents.tv
Notes           : Enjoy
{{ data.bbcode.code_end }}

{{ data.custom_description_components }}

{{ data.bbcode.center_start }} [b][color=#ff8C00]- SCREENS -[/color][/b]

{{ data.screenshots }} {{ data.bbcode.center_end }}

{{ data.bbcode.center_start }}[img]https://i.ibb.co/ZVSWJLs/DTR-Logo.png[/img]{{ data.bbcode.center_end }}

{{ data.bbcode.center_start }} {{ data.internal.uploader_signature }} {{ data.bbcode.center_end }}
