-r requirements.txt
-r requirements_reuploader.txt
Flask-RESTful==0.3.10
importlib-metadata==8.6.1
mongomock==4.3.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-mock==3.14.0
requests-mock==1.12.1
setuptools==75.8.0
testcontainers==4.9.1
Werkzeug==3.1.3
